<h1>Log in</h1>
<%= form_for(:session, url: login_path) do |f|%>
  <%= f.label :email %>
  <%= f.text_field :email%>
  <%= f.label :password %>
  <%= f.password_field :password%>
  <%= f.submit "Log in", class: "btn btn-success" %>
<% end %>