<div class="panel header-panel flow-text z-depth-3">
      <div id="title">All Foods</div>
    </div>
<div class="full-height scroll-bar">
  <div class="header">
      <div class="row">
        <div class="input-field col s6">
          <select class="select_box select_field" style="display:block">
            <option value="0" selected>Sort by status</option>
            <option value="/foods" >Available</option>
            <option value="/">Not available</option>
          </select>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Type in food name</label>
        </div>
      </div>

  </div><!--end of header-->
  <div class="body">
    <table class="striped">
    <thead>
      <tr>
          <th data-field="id">Name</th>
          <th data-field="name">Description</th>
          <th data-field="price">Item Price</th>
          <th data-field="category">Category</th>
          <th data-field="status">Status</th>
          <th data-field="new_price">New Price</th>
      </tr>
    </thead>

    <tbody>
      <% @foods.each do |food| %>
        <a href = "/>">
        <tr>
          <td><%= food.name %></td>
          <td><%= food.description %></td>
          <td><%= food.price %></td>
          <td><%= !food.category.nil? ? food.category.title : "none yet" %></td>
          <td>
            <div class="switch">
              <label>
                No
                <input class="sale_status" type="checkbox" data-status="<%= food.sale.status %>" data-saleid="<%= food.sale.id %>">
                <span class="lever"></span>
                Yes
              </label>
            </div>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>
  </div><!--end of header-->

</div>