<div style="float:left;border-radius:10px" class="slider z-depth-4">
  <ul class="slides">
    <li>
    <%= image_tag "chocolatecake.jpg" %>
      <div class="caption left-align">
        <h1 class="light black-text text-darken-2">Chocolate Brownie</h1>
        <h3 class="light red-text text-darken-3">So delicious, you'll want more</h3>
      </div>
    </li>
    <li>
      <%= image_tag "ribs.jpg" %>
      <div class="caption right-align">
        <h1>Barbeque Ribs</h1>
        <h3 class="light grey-text text-lighten-3">The Best Ribs money can buy</h3>
      </div>
    </li>
    <li>
      <%= image_tag "shrimps.jpg" %>
      <div class="caption left-align ">
        <h1 class="light black-text text-darken-3">Tasty Shrimps</h1>
        <h3 class="light grey-text text-lighten-3">We went to the Deepest ends of the Ocean to get you the Finest Shrimps</h3>
      </div>
    </li>
    <li>
      <%= image_tag "cherrycake.jpg" %>
      <div class="caption right-align">
        <h1>Cherrycake</h1>
        <h3 class="light grey-text text-lighten-3">Check out our menu for more mouth watering desserts </h3>
      </div>
    </li>
    <li>
      <%= image_tag "chicken.jpg" %>
      <div class="caption center-align">
        <h1>Spicy Chicken</h1>
        <h3 class="light grey-text text-lighten-3">Enjoy our chef's special</h3>
      </div>
    </li>
  </ul>
</div>
