<div style="float:left;border-radius:10px" class="slider z-depth-4">
  <ul class="slides">
    <li>
      <%= image_tag "chocolatecake.jpg" %>
      <div class="caption left-align">
        <h3 class="light black-text text-darken-2">Chocolate Brownie</h3>
        <h5 class="light red-text text-darken-2">So delicious, you'll want more</h5>
      </div>
    </li>
    <li>
      <%= image_tag "ribs.jpg" %>
      <div class="caption left-align">
        <h3>Barbeque Ribs</h3>
        <h5 class="light grey-text text-lighten-3">The Best Ribs money can buy</h5>
      </div>
    </li>
    <li>
      <%= image_tag "shrimps.jpg" %>
      <div class="caption right-align">
        <h3 class="light red-text text-darken-3">Tasty Shrimps</h3>
        <h5 class="light grey-text text-lighten-3">We went to the Deepest ends of the Ocean to get you the Finest Shrimps</h5>
      </div>
    </li>
    <li>
      <%= image_tag "cherrycake.jpg" %>
      <div class="caption right-align">
        <h3>Cherrycake</h3>
        <h5 class="light grey-text text-lighten-3">Check out our menu for more mouth watering desserts </h5>
      </div>
    </li>
    <li>
      <%= image_tag "chicken.jpg" %>
      <div class="caption center-align">
        <h3>Spicy Chicken</h3>
        <h5 class="light grey-text text-lighten-3">Enjoy our chef's special</h5>
      </div>
    </li>
  </ul>
</div>
