<!DOCTYPE html>
<html>
<head>
  <title>DinnerDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="background">
    <%= render 'layouts/header' %>
    <main>
      <%= yield %>
    </main><!--End of main-->
    <%= render 'layouts/footer' %>
  </div><!-- end of container main-->
</body>
</html>
